body {
    background-color: lightgray;
    color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

section {
    border: solid 2px slategray;
    border-radius: 15px;
    padding: 10px;
}

a {
    font-style: normal;
    color: black;
}