footer {
    position: fixed;
    bottom: 15px;
    right: 20px;
    max-height: 20px;
}
code {
    font-family: 'Courier New';
    font-size: small;
    font-weight: bold;
}


.icon {
    height: 35px;
}

.formEmp {
    border: solid 2px black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 30%;
    background-color: lightslategray;
}
.twoCol {
    columns: 2;
    width: 100%;
}
.comment {
    text-align: right;
    font-style: italic;
}
